<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/liviaguimaraes92/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
    
                    <li>
                        <a href="https://github.com/liviaguimaraes92" target="_blank" class="icoLinkedin">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/luvlivis/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright bg-dark text-center">
        <span class="text-light"> © 2021 Copyright: Lívia Guimarães
        </span>
    </div>
    
    
    </footer>