
.img-bg{
    background-image: url('https://i.imgur.com/nTz2rNd.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
    color: darkgrey;
}